{% load cache static %}

<div class="col-lg-4 col-md-6 mb-4" id="productCard">
    <div class="card h-100">
        {% cache 30 product.image.url product.preview.url product.name product.price product.description %}
        <div class="image-wrapper">
            {% if view_mode == "grid" %}
            <img class="card-img-top" src="{{ product.preview.url }}" alt="" loading="lazy">
            {% else %}
            <img class="card-img-top" src="{{ product.image.url }}" alt="" loading="lazy">
            {% endif %}
        </div>
        <div class="card-body" data-product-id="{{ product.id }}">
            <h4 class="card-title">
                <a href="{% url 'products:product_detail' product_slug=product.slug product_id=product.id %}">
                    {{ product.name }}
                </a>
            </h4>
            <h5>Цена: {{ product.price }} руб.</h5>
            <div class="quantity-section text-center">
                <label for="quantity">Количество:</label>
                <input type="number" class="quantity-input" id="quantity_{{ product.id }}" name="quantity" min="1" value="1" data-product-price="{{ product.price }}">
            </div>
            <div class="total-price-section text-center">
                <p>Итоговая стоимость:</p>
                <p id="totalPrice_{{ product.id }}" data-product-price="{{ product.price }}">{{ product.price }} р.</p>
            </div>
        </div>

        {% endcache %}
        <div class="card-footer text-center">
            {% if product.quantity == 0 %}
                <p>Нет в наличии</p>
                <a class="btn btn-outline-success buy-in-one-click-btn" href="#" data-toggle="modal" data-target="#buyInOneClickModal" data-product-id="{{ product.id }}">
                    Сообщить о поступлении
                </a>
            {% else %}
                {% if user.is_authenticated %}
                <a class="btn btn-outline-success add-to-basket-btn" href="#"
                   data-product-id="{{ product.id }}">
                    Добавить в корзину
                </a>
                {% else %}
                <a class="btn btn-outline-success" href="{% url 'users:login' %}">Войдите, чтобы добавить в корзину</a>
                {% endif %}
                <a class="btn btn-outline-success buy-in-one-click-btn" href="#" data-toggle="modal" data-target="#buyInOneClickModal" data-product-id="{{ product.id }}">
                    Купить в один клик
                </a>
            {% endif %}
        </div>
    </div>
</div>